.login_page__background {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(219, 219, 219, 0.362);
    z-index: 0;
}

.login_page__container {
    border: solid;
    border-color: black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 1rem;
    background-color: white;
    z-index: 1;
}

.login_page__buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_page__inputs_inner_container {
    text-align: left;
    margin: 1.5rem auto;
}

.login_page__input_title {
    font-family: 'Trebuchet MS';
    font-size: 1rem;
    position: relative;
    left: 0.5vw;
}

.login_page__input_validation_point_valid,
.login_page__input_validation_point_invalid,
.login_page__input_validation_point_loading {
    font-size: 6rem;
    font-family: sans-serif;
    position: relative;
    top: 1.75rem;
    left: 0.55rem;
    line-height: 0;
    transition: color ease 400ms;
}

.login_page__input_validation_loading {
    position: relative;
    left: 0.95rem;
    width: 0.8rem !important;
    height: 0.8rem !important;
}

.login_page__input_validation_point_loading {
    visibility: hidden;
    color: rgb(197, 249, 253);
}

.login_page__input_validation_point_valid {
    color: rgb(125, 201, 10);
}

.login_page__input_validation_point_invalid {
    color: rgb(195, 79, 79);
}

.login_page__input_field_warn {
    border-color: red !important;
    animation: ease;
    animation-name: login_warning;
    animation-duration: 300ms;
}

@keyframes login_warning {
    25% {
        transform: translateX(-1%);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(1%);
    }

    100% {
        transform: translateX(0);
    }
}

.login_page__input_note {
    color: rgb(214, 69, 69);
    font-size: 0.7rem;
    margin: 0.3rem;
}

.login_page__button__small,
.login_page__button__large {
    margin: 0.5rem;
    margin-bottom: 1.2rem;
    font-family: 'Trebuchet MS' !important;
}

.login_page__button__small {
    width: 7vw;
    height: 5vh;
}

.login_page__button__large {
    width: 10vw;
    height: 10vh;
    font-size: 1.5rem;
}

.point_decorator__container {
    display: flex;
    justify-content: space-between;
}

.point_decorator__button {
    cursor: default !important;
    border: solid;
    border-color: white;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    background-color: rgb(185, 185, 185);
}

.point_decorator__button_warn {
    animation: ease-in-out;
    animation-name: failure_warning;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

@keyframes failure_warning {
    50% {
        background-color: red;
    }

    100% {
        background-color: aquamarine;
    }
}

.point_decorator__msg {
    font-family: 'Trebuchet MS';
    font-size: 0.8rem;
    color: red;
    line-height: 0;
    margin: auto;
}